div {
  display: block;
  margin-top: 0;
}
body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #40514e;
}
.mountain {
  max-width: auto;
  height: auto;
}
h1 {
  font-size: 90px;
  margin-top: 50px 0 auto 0;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  color: #66bfbf;
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Volkhov", serif;
  margin-top: 2.5rem;
}
h3 {
  color: #11999e;
  font-size: 2rem;
  margin-top: 5rem;
}
.top-box {
  background-color: powderblue;
  position: relative;
  padding-top: 120px;
  height: auto;
  width: 100%;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 150px auto 120px auto;
  text-align: left;
  line-height: 2;
}
.coding {
  width: 20%;
  float: left;
  margin-right: 2em;
}
.gaming {
  width: 30%;
  float: right;
  margin-left: 30px;
  margin-top: 20px;
}
hr {
  border-top: 6px dotted gray;
  width: 100px;
}
.profile {
  margin-top: 5rem;

  width: 70%;
  margin: 90px auto 90px auto;
  line-height: 2;
  font-weight: bold;
  font-size: 20px;
  font-style: "Volkhov", serif;
}
.btn {
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #65bfbf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: black;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.bottom-container {
  margin-top: 30px;
  height: 100px;
  background-color: #65bfbf;
  width: auto;
  padding: 50px 0 30px;
}
.footer-link {
  margin: auto 20px auto 20px;
  color: #11999e;
  margin-bottom: 30px;
  text-decoration: none;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  padding: 30px;
  color: aliceblue;
}

.footer-link:hover {
  color: aliceblue;
}
.skill {
  margin-top: 90px;
}
.middle-container {
  width: auto;
  margin: 50px auto 50px;
}
.bio {
  width: 60%;
  margin: 50px auto 50px;
}
@media only screen and (max-width: 600px) {
  .mountain {
    max-width: 100%;
    height: auto;
  }
  /*.top-cloud { //not good for mobile devices i think//
    position: absolute;
    right: 200px;
    top: 50px;
    width: 30%;
  }*/
  html {
    overflow-x: hidden;
  }
  /*.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 150px;

    width: 25%;
  }*/

  body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
  .top-box {
    max-width: 100%;
    height: auto;
    margin-top: 0;
  }
  div {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .intro {
    font-size: 2rem;
    margin: 10px;
  }
  h1 {
    font-size: 70px;
    margin: 0 30px 0;
    padding: 0;
  }
  h2 {
    margin-top: 20px;
    font-size: 5vmax;
  }
  h3 {
    margin-top: 10px;
    font-size: 30px;
  }
  .bio {
    width: 70%;
    margin: 10px auto 20px;
    text-align: center;
  }
  .middle-container h2 {
    font-size: 50px;
  }
  .contact-me {
    width: 60%;
    height: auto;
    margin: 50px auto 20px;
  }
  .contact-me h2 {
    margin: 50px auto 40px;
    font-size: 40px;
  }
  .coding {
    float: none;
    width: 100%;
    height: auto;
  }
  .gaming {
    float: none;
    width: 150%;
    position: relative;
    right: 80px;
  }
  .skill-row p {
    width: 100%;
    height: auto;
    margin: 50px auto 20px;
    text-align: center;
  }
  #gaming {
    text-align: center;
    font-size: 40px;
  }

  #hobby {
    margin-top: 50px;
    font-size: 40px;
  }
  #GIT {
    line-height: 2;
    margin-top: 50px;
  }
  .footer-link {
    margin: 0px 20px 30px;
    line-height: 2;
  }
  .copyright {
    margin-top: 20px;
    padding: 0;
  }
  .bottom-container {
    height: auto;
    width: 100%;
  }
}
